body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-image: url(images/cauthubg\(1\).jpg);
    width: 100%;
}

/* header */
#header h1 {
    display: flex;
    margin-left: 100px;
    margin-right: 50px;
    color: aliceblue;
    margin-top: auto;
}

#header {
    background-color: #000000;
    display: flex;
    align-items: center;
}

#head-left {
    margin-right: auto;
    display: flex;
}

#left-icon,
#right-icon {
    display: flex;
    list-style: none;
    align-items: center;

}

#left-icon li a {
    margin-left: 40px;
    text-decoration: none;
    color: aliceblue;
}

#head-right ul {
    display: flex;
    list-style: none;
    margin-right: 100px;

}

#right-icon li button {
    background-color: #07f468;
    margin-right: 10px;
    background-color: transparent;
    border: 3px solid #07f468;
    border-radius: 20px;
    width: 150px;
    height: 35px;
}

#head-right ul li :hover {
    background-color: #fff;
}

#head-right ul li button a {
    background-color: transparent;
    text-decoration: none;
    color: #07f468;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    align-items: center;
}

#logo {
    width: 100%;
    margin-left: 30px;
}

#row {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 100px;
}

#row1 {
    margin-right: 50px;
}

#row2 {
    margin-left: 50px;
}

#in-row1 img,
#in1-row1 img,
#in2-row1 img {
    width: 80px;
    height: 80px;
}

#in-row1 {
    position: absolute;
    top: 510px;
    left: 210px;
}

#in1-row1 {
    position: absolute;
    top: 640px;
    left: 210px;
}

#in2-row1 {
    position: absolute;
    top: 770px;
    left: 210px;
}

#text-row1 {
    position: absolute;
    top: 500px;
    left: 320px;
}

#text1-row1 {
    position: absolute;
    left: 320px;
    top: 630px;
}

#text2-row1 {
    position: absolute;
    top: 760px;
    left: 320px;
}

.r-img  :hover {
    background-image: url('./images/tải\ xuống\ \(3\).png');
}

/* header */
#SSS,
#SS,
#S {
    display: flex;
    margin-left: auto;

    width: 70%;
}

#SSS1,
#SS1,
#S1 {
    margin-right: 10px;

}

#SSS1 img,
#SS1 img,
#S1 img {
    width: 86px;
    height: auto;
}

#SSS2 img,
#SS2 img,
#S2 img {
    width: 442px;
    height: auto;
}

#varane img,
#cauthu img,
#cauthu1 img {
    width: 34px;
    height: 54px;
}

#varane,
#cauthu,
#cauthu1 {
    position: relative;
    display: inline-block;
    margin: 5px;
    transition: transform .2s;
}

#varane :hover {
    transform: scale(1.1);
}

#player {
    position: absolute;
    left: 590px;
    z-index: 2;
    transform: translateY(-50%);
    top: 160px;
}

#img img,
#img1 img,
#img2 img {
    width: 22px;
    height: 22px;
}

#img,
#img1,
#img2 {
    position: absolute;
    height: 100%;
    top: 16px;
    left: 10px;
}

#player1 {
    position: absolute;
    left: 510px;
    top: 250px;
    z-index: 2;
    transform: translateY(-50%);
}

#player2 {
    position: absolute;
    left: 510px;
    top: 340px;
    transform: translateY(-50%);
}

@media(max-width:992px) {
    body {
        min-height: auto;
        background-color: aqua;
    }

}

#SSS-container {
    margin-top: 50px;
}