#news h1 {
    text-align: center;
}

#new {
    background-image: url('../images/bg-news-banner.jpg');

}

.button {
    list-style: none;

    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
}

.button li {
    margin-left: 10px;

}

.button li button a {
    text-decoration: none;
}

#m-post {
    background-color: black;
    width: 326px;
    margin-bottom: 10px;
}
#poster{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#hlv{

    background-color: black;
}
#hlv-1 h2{
    color: white;
    margin-left: 5px;
}
#hlv-1{
    width: 50%z;
}