#news h1 {
    text-align: center;
}

#new {
  background-color: url('./images/bg\ ban.jpg');

}

.button {
    list-style: none;

    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
}

.button li {
    margin-left: 10px;

}

.button li button a {
    text-decoration: none;
}

#m-post {
    background-color: black;
    width: 326px;
    margin-bottom: 10px;
}
#poster{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#hlv{

    margin-top: 20px;
    display: flex;
}
#mot{
    margin-left: 100px;
}
#mot img{
    margin-left: 100px
}
#mot h3{
    color: white;
    margin-left: 30px;
    margin-top: 5px;
}
#mot p{
    color: aliceblue;
}
#hlv-1{
    width: 50%;
}
#hai button{
    border-radius: 10%;
    width: 150px;
    height: 30px;
}
#hai{
    text-align: center;
}
#hlv-2 img{
    width :445px;
    height: auto;
}
#title{
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#title h2{
    margin-right: auto;
}
#loichoi{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#in4 img{
    width: 100%;
}
#baotrum{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#hinhanhdong{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
    animation: scale 8s infinite linear;
    display: flex;
}
@keyframes scale {
    0%, 40%, 80%, 100%{
        transform: scale(1);
    }
    20%, 60%{
        transform: scale(1.01);
    }
}
#key{
    animation: rotate 2s linear infinite;


}
@keyframes rotate {
  0%, 50%, 100%{
    transform: rotateY(0deg);
   
  } 
  25% {
    transform: rotateY(-5deg);
  }
  75%{
    transform: rotateY(5deg);
  }
  
}

#taycam{
    position: absolute;
    right: 4.6875vw;
    top: 1.5625vw;
    width: 22.0833333333vw;
}
#title button{
    width: 200px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: 0px;
}
#hai button a{
    text-decoration: none;
    width: 100%;
}
#vid{
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url('./images/bg-news-banner.jpg');
    margin-top: 100px;
    justify-content: space-evenly;
    
}
.card{
    margin-left: 10px;
}
#chua{
    background-image: url('./images/bg-news-banner.jpg');
    height: fit-content;
}
