#SSS{
    display: flex;
    margin-left: auto;
   
    width: 70%;
}
#SSS1{
margin-right: 10px;

}
#SSS1 img{
    width: 86px;
    height: auto;
}
#SSS2 img{
    width: 442px;
    height: auto;    
}
#varane img{
    width: 34px;
    height: 54px;
}
#varane{
    position: relative;
    display: inline-block;
}
#player{
    position: absolute;
    left: 510px;
    z-index: 2;
    transform: translateY(-50%);
    top: 50px;
}
#img img{
    width: 22px;
    height: 22px;
}
#img{
    position: absolute;
    height: 100%;
    top: 16px;
    left: 10px;
}
